@media (max-width: 1440px) {

}
/* Media query for mobile large (max-width: 767px) */
@media (max-width: 425px) {
  .headline {
    text-align: center;
  }
  .headLineContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 42px;
  }
  .topHomeSection {
    background-color: #fff5ec;
    padding: 10;
    height: 587;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  }
  .storeLogo{
    padding: 10px;
    height: 315px;
  }
  .storeLogo img{
    border-radius: 180px;
  }
  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(
        -10px
      ); /* Adjust the value to control the bounce height */
    }
  }

  .arrow-icon {
    position: absolute;
    z-index: 999;
    left: 44.3vw;
    top: 111vh;
    animation: bounce 1s infinite;
  }
  .canva {
    width: 100%;
    display: block;
  }
}

/* Media query for mobile medium (max-width: 375px) */
@media (max-width: 375px) {
}
