/* Media query for mobile large (max-width: 767px) */
@media (max-width: 768px) {
  .headline {
    text-align: center;
  }
  .headLineContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px); /* Adjust the value to control the bounce height */
    }
  }
  
  .arrow-icon {
    position: absolute;
    z-index: 1000;
    left: 44.3vw;
    top: 92vh;
    animation: bounce 1s infinite;
  }
  .canva{
    width: 100%;
    display: block;
  }
}

/* Media query for mobile medium (max-width: 375px) */
@media (max-width: 375px) {
}
