/* Media query for mobile large (max-width: 767px) */
@media (max-width: 1023px) {
  .homepageReview{
    display: flex;
    flex-direction: column;
  }
  .homepageReview p{
    margin-bottom: -5px;
  }
  .headline {
    text-align: center;
  }
  .headLineContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 42px;
  }
  .topHomeSection {
    background-color: #fff5ec;
    padding: 10;
    height: 587;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  }
  .storeLogo{
    padding: 10px;
    height: 315px;
  }
  .storeLogo img{
    border-radius: 180px;
  }
  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(
        -10px
      ); /* Adjust the value to control the bounce height */
    }
  }

  .arrow-icon {
    position: absolute;
    z-index: 999;
    left: 44.3vw;
    top: 111vh;
    animation: bounce 1s infinite;
  }
  .canva {
    width: 100%;
    display: block;
  }
}

/* Media query for mobile medium (max-width: 375px) */
@media (max-width: 375px) {
}
/* Media query for screen size 1024px and above */
@media (min-width: 1024px) {
  .page1Desktop {
    content: url("../../../public/desktop-home.png"); /* Replace with the path to your new desktop image */
    width: 100%;
  }
.page2Desktop{
  content: url("../../../public/desktop-page2.png"); /* Replace with the path to your new desktop image */
    width: 100%;
}
.page3Desktop{
  content: url("../../../public/desktop-page3.png"); /* Replace with the path to your new desktop image */
    width: 100%;
}
.page4Desktop{
  content: url("../../../public/desktop-page4.png"); /* Replace with the path to your new desktop image */
    width: 100%;
}
.page5Desktop{
  content: url("../../../public/desktop-page5.png"); /* Replace with the path to your new desktop image */
    width: 100%;
}

  .logo {
    content: url("../../../public/logo-desktop.png"); /* Replace with the path to your new logo image */
    width: 100%;
  }
  .headLineContainer{
    display: flex;
    justify-content: space-between;
    margin: 0px 120px;
  }
  .homepageReview{
    display: flex;
    margin-right: 15px;
    margin-left: 15px;
  }
  .homepageReview p{
    margin-left: 30px;
    margin-right: 30px;
  }
}


