/* Media query for mobile large (max-width: 767px) */
@media (max-width: 768px) {
  .topHeader {
    display: flex;
    justify-content: space-evenly;
    /* margin-left: 10%; */
    /* margin-right: 10%; */
    font-size: 0.7rem;
    width: 100%;
  }
  .topHeader p{
    width: 45%;
  }
  .container {
    display: inline-block;
    cursor: pointer;
  }
.menuBarsContainer{
    margin-top: 4px;
    
}
  .bar1,
  .bar2,
  .bar3 {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.4s;
  }

  /* Rotate first bar */
  .change .bar1 {
    transform: translate(0, 6px) rotate(45deg);
  }

  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }

  /* Rotate last bar */
  .change .bar3 {
    transform: translate(0, -8px) rotate(136deg);
  }
  /* Add transition for smooth animation */
  .vertical-menu {
    width: 200px;
    height: 0;
    overflow: hidden;
    transition: height 0.5s; /* Smooth transition for height */
  }

  .vertical-menu.show {
    height: 350px;
  }

  .vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
  }

  .vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
  }

  .vertical-menu a.active {
    background-color: tan; /* Add a green color to the "active/current" link */
    color: white;
  }
  .menuContainer {
    position: absolute;
    height: 42vh;
    top: 445px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
  
  .socialLine{
    border-bottom: 2px solid tan;
  }
}

/* Media query for mobile medium (max-width: 375px) */
@media (max-width: 375px) {
}
