/* Media query for mobile large (max-width: 767px) */
@media (max-width: 768px) {
  .allContent {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  }
  .menusSpan {
    position: absolute;
    z-index: 2;
    padding-top: 20vh;
    letter-spacing: 1px;
    color: white;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  }
  .menusSpanDiv {
    display: flex;
    justify-content: center;
  }
  .menuButtons {
    margin-top: 5px;
    margin-bottom: 10px;
    padding-top: 15px;
  }
  .menuButtons button {
    padding: 20px 50px;
    color: black;
  }
  .topDiv {
    background-color: #bbb5ad;
    padding: 10px;
  }
  .buttons {
    padding: 10px 50px;
    margin-left: 20px;
  }
  .middleDiv {
    background-color: #385b4f;
    padding: 10px;
    margin-top: 5px;
    color: white;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  }
  .middleDivWelcomeMessage {
    line-height: 25px;
  }
  .middleDivHours {
    margin-top: 40px;
  }
  .middleDiv span {
    white-space: nowrap;
  }
  .menuDiv {
    background-color: #d0c7bd;
  }
}

/* Media query for mobile medium (max-width: 375px) */
@media (max-width: 375px) {
}
