.categoryDiv {
  display: flex;
  justify-content: center;
}
.category {
  text-decoration: underline;
  margin-right: 25px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}
.titleAndPriceDiv{
  display: flex;
  justify-content: center;

}
.name {
  font-weight: bold;
}
.price{
  font-weight: bold;
  margin-left: 10px;
}
