/* Media query for mobile large (max-width: 1023px) */
@media (max-width: 1023px) {
  .allContent {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  }
  .review{
    font-style: italic;
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
  }
  .menusSpan {
    position: absolute;
    z-index: 2;
    padding-top: 20vh;
    letter-spacing: 1px;
    color: white;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  }
  .menusSpanDiv {
    display: flex;
    justify-content: center;
  }
  .menuButtons {
    margin-top: 5px;
    margin-bottom: 10px;
    padding-top: 15px;
  }
  .menuButtons button {
    color: black;
    margin: 5px;
  }
  .topDiv {
    background-color: #bbb5ad;
    padding: 10px;
  }
  .buttons {
    margin-left: 20px;
  }
  .middleDiv {
    background-color: #385b4f;
    padding: 10px;
    margin-top: 5px;
    color: white;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  }
  .middleDivWelcomeMessage {
    line-height: 25px;
  }
  .middleDivHours {
    margin-top: 40px;
  }
  .middleDiv span {
    white-space: nowrap;
  }
  .menuDiv {
    background-color: #d0c7bd;
  }
}

/* Media query for mobile medium (max-width: 375px) */
@media (max-width: 375px) {
}

/* Media query for screen size 1024px and above */
@media (min-width: 1024px){
  .review{
    font-style: italic;
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
  }
  .middleDivWelcomeParagraph{
    padding: 0px 147px;
  }
  .middleDiv{
    background-color: #385b4f;
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    width: 80%;
    margin: 10px auto; /* Center horizontally */
  }
  .menusSpanDiv{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /* Additional styling properties */
    z-index: 2;
    padding-top: 30vh;
    letter-spacing: 1px;
    color: white;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  }
}