/* @import "react-slideshow-image/dist/styles.css"; */

/* Media query for mobile large (max-width: 1023px) */
@media (max-width: 1023px) {
  .allContent{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  }
    .coffee-icons{
      display: flex;
      justify-content: space-evenly;
      margin: 5px;
    }
    .text{
      font-family: 'Fira Sans', sans-serif;
    }
    .hoursAndLocations{
      display: flex;
      flex-direction: column;
    }
    .hoursAndLocations a{
      color: black;
      position: static;
      z-index: 2;
    }
    div.getDirectionsButton{
      margin-bottom: 20px;
      background-color: red;
    }
    .getDirectionsButton button{
      padding: 10px 20px;
      color: black;
    }
    
  }
  
  /* Media query for mobile medium (max-width: 375px) */
  @media (max-width: 375px) {
  }

  /* Media query for screen size 1024px and above */
@media (min-width: 1024px) {
  .yelp-reviewDiv{
    display: flex;
    justify-content: center;
  }
}
  