/* @import "react-slideshow-image/dist/styles.css"; */

/* Media query for mobile large (max-width: 767px) */
@media (max-width: 768px) {
    .coffee-icons{
      display: flex;
      justify-content: space-evenly;
      margin: 5px;
    }
    .text{
      font-family: 'Fira Sans', sans-serif;
    }
    .hoursAndLocations{
      display: flex;
      flex-direction: column;
    }
    .hoursAndLocations a{
      color: black;
      position: static;
      z-index: 2;
    }
    div.getDirectionsButton{
      margin-bottom: 20px;
      background-color: red;
    }
    .getDirectionsButton button{
      padding: 10px 20px;
    }
    
  }
  
  /* Media query for mobile medium (max-width: 375px) */
  @media (max-width: 375px) {
  }
  