.App, button {
  text-align: center;
  font-family: 'Alyssum';

}
@font-face{
  font-family: 'Alyssum';
  src: url('/public/fonts/Alyssum-Sans.woff') format('woff'),
  url('/public/fonts/Alyssum-Sans.woff2') format('woff2');

}
@media (max-width: 1440px) {
.App{
  width: 100%;
  overflow-x: hidden;
}
}

